body {
    background-color: rgb(160, 223, 231);
}

h1 {
    color: rgb(36, 70, 76);
    font-family: verdana;

}

h2 {
    color: blueviolet
}

p {
    color: rgb(26, 0, 196);
    font-family: courier;
    font-size: 160%;


}